.place-order {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 40px;
  gap: 50px;
}

.place-order-left {
  width: 100%;
  max-width: max(30%, 500px);
}

.place-order-left .title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}

.place-order-left input {
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline-color: tomato;
}

.place-order-left .multi-fields {
  display: flex;
  gap: 20px;
}

.place-order-right {
  width: 100%;
  max-width: max(40%, 500px);
}
.cart-items-item {
  margin: 10px 0px;
  color: black;
  align-items: center;
}

.place-order-right hr {
  border: none;
  height: 1px;
  background-color: rgb(217, 221, 225);
  margin: 10px 0px;
}
.place-order-right h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
.place-order-right button {
  border: none;
  width: max(15vw, 200px);
  padding: 12px 0px;
  color: white;
  background-color: tomato;
  border-radius: 4px;
}

.backToCheckout {
  margin-top: 30px;
  border: 1px solid tomato;
  width: max(4vw, 100px);
  padding: 12px 0px;
  color: tomato;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.backToCheckout:hover {
  border: 1px solid white;
  color: white;
  background-color: tomato;
}
